{{ define "auth/login.html" }}
{{ template "layouts/headerWithoutNav.html" . }}

<div class="auth-page">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-xxl-3 col-lg-4 col-md-5">
                <div class="auth-full-page-content d-flex p-sm-5 p-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100">
                            <div class="mb-4 mb-md-5 text-center">
                                <a href="/" class="d-block auth-logo">
                                    <img src="assets/images/logo-sm.svg" alt="" height="28"> <span
                                        class="logo-txt">Verba<span>CENTER</span></span>
                                </a>
                            </div>
                            <div class="auth-content my-auto">
                                <div class="text-center">
                                    <h5 class="mb-0">Welcome Back !</h5>
                                    <p class="text-muted mt-2">Sign in to continue to VerbaCenter.</p>
                                </div>
                                <form class="mt-4 pt-2" action="/login" method="POST"
                                    id="handleAjax">
                                    <div class="form-floating form-floating-custom mb-4">
                                        <input type="text" class="form-control @error('usename') is-invalid @enderror" value="admin" id="input-username" placeholder="Enter User Name" name="username">
                                        <label for="input-username">Username</label>
                                        <div class="form-floating-icon">
                                            <i data-feather="users"></i>
                                        </div>
                                    </div>

                                    <div class="form-floating form-floating-custom mb-4 auth-pass-inputgroup">
                                        <input type="password" class="form-control pe-5 @error('password') is-invalid @enderror" name="password" id="password-input" placeholder="Enter Password" value="admin@123">
                                       
                                        <button type="button" class="btn btn-link position-absolute h-100 end-0 top-0"
                                            id="password-addon">
                                            <i class="mdi mdi-eye-outline font-size-18 text-muted"></i>
                                        </button>
                                        <label for="password-input">Password</label>
                                        <div class="form-floating-icon">
                                            <i data-feather="lock"></i>
                                        </div>
                                    </div>

                                    <div class="row mb-4">
                                        <div class="col">
                                            <div class="form-check font-size-15">
                                                <input class="form-check-input " type="checkbox" id="remember-check">
                                                <label class="form-check-label font-size-13" for="remember-check">
                                                    Remember me
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Log
                                            In</button>
                                    </div>
                                </form>
                            </div>
                            <div class="mt-4 mt-md-5 text-center">
                                <p class="mb-0">©
                                    <script>document.write(new Date().getFullYear())</script> VerbaCenter . Crafted with
                                    <i class="mdi mdi-heart text-danger"></i> by Kommlabs
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-9 col-lg-8 col-md-7">
                <div class="auth-bg pt-md-5 p-4 d-flex">
                    <div class="bg-overlay"></div>
                    <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="row justify-content-center align-items-end">
                        <div class="col-xl-7">
                            <div class="p-0 p-sm-4 px-xl-0">
                                <div id="reviewcarouselIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div
                                        class="carousel-indicators auth-carousel carousel-indicators-rounded justify-content-center mb-0">
                                        <button type="button" data-bs-target="#reviewcarouselIndicators"
                                            data-bs-slide-to="0" class="active" aria-current="true"
                                            aria-label="Slide 1">
                                            <img src="assets/images/users/avatar-1.jpg"
                                                class="avatar-md img-fluid rounded-circle d-block" alt="...">
                                        </button>
                                        <button type="button" data-bs-target="#reviewcarouselIndicators"
                                            data-bs-slide-to="1" aria-label="Slide 2">
                                            <img src="assets/images/users/avatar-2.jpg"
                                                class="avatar-md img-fluid rounded-circle d-block" alt="...">
                                        </button>
                                        <button type="button" data-bs-target="#reviewcarouselIndicators"
                                            data-bs-slide-to="2" aria-label="Slide 3">
                                            <img src="assets/images/users/avatar-3.jpg"
                                                class="avatar-md img-fluid rounded-circle d-block" alt="...">
                                        </button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="testi-contain text-center text-white">
                                                <i class="bx bxs-quote-alt-left text-success display-6"></i>
                                                <h4 class="mt-4 fw-medium lh-base text-white">“I feel confident
                                                    imposing change
                                                    on myself. It's a lot more progressing fun than looking back.
                                                    That's why
                                                    I ultricies enim
                                                    at malesuada nibh diam on tortor neaded to throw curve balls.”
                                                </h4>
                                                <div class="mt-4 pt-1 pb-5 mb-5">
                                                    <h5 class="font-size-16 text-white">Richard Drews
                                                    </h5>
                                                    <p class="mb-0 text-white-50">Web Designer</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="carousel-item">
                                            <div class="testi-contain text-center text-white">
                                                <i class="bx bxs-quote-alt-left text-success display-6"></i>
                                                <h4 class="mt-4 fw-medium lh-base text-white">“Our task must be to
                                                    free ourselves by widening our circle of compassion to embrace
                                                    all living
                                                    creatures and
                                                    the whole of quis consectetur nunc sit amet semper justo. nature
                                                    and its beauty.”</h4>
                                                <div class="mt-4 pt-1 pb-5 mb-5">
                                                    <h5 class="font-size-16 text-white">Rosanna French
                                                    </h5>
                                                    <p class="mb-0 text-white-50">Web Developer</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="carousel-item">
                                            <div class="testi-contain text-center text-white">
                                                <i class="bx bxs-quote-alt-left text-success display-6"></i>
                                                <h4 class="mt-4 fw-medium lh-base text-white">“I've learned that
                                                    people will forget what you said, people will forget what you
                                                    did,
                                                    but people will never forget
                                                    how donec in efficitur lectus, nec lobortis metus you made them
                                                    feel.”</h4>
                                                <div class="mt-4 pt-1 pb-5 mb-5">
                                                    <h5 class="font-size-16 text-white">Ilse R. Eaton</h5>
                                                    <p class="mb-0 text-white-50">Manager
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/libs/jquery/jquery.min.js?v=1.0"></script>
<script src="assets/libs/feather-icons/feather-icons.min.js?v=1.0"></script>
<script src="assets/js/pages/pass-addon.init.js"></script>
<script src="assets/js/pages/feather-icon.init.js"></script>
<script src="assets/js/jquery-confirm.min.js"></script>
<script src="assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="assets/libs/axios/axios.min.js"></script>
<script type="text/javascript">
let minutes;
let seconds;
var ttl =  false;

    $(function() {
        $(document).on("submit", "#handleAjax", function() {
            var e = this;
            var formdata = $(this).serialize();
            console.log(formdata)
            var formurl = $(this).attr('action');
            var modalBtn = true
            $(this).find("[type='submit']").html("Login...");
            $.ajax({
                url: $(this).attr('action'),
                data: $(this).serialize(),
                type: "POST",
                dataType: 'json',
                success: function (data) {  
                    console.log(data)                 
                    $(e).find("[type='submit']").html("Login");
                    if (data.status) {
                        window.location = data.redirect;
                    }else{
                        $(".alert").remove();
                        ttl = "Username or password could not match.";
                        var err = "";
                        $.each(data.errors, function (key, val) {
                            err += '<p>'+val+'</p>';
                        });
                        btnext = "Try Again";

                        if(data.code === 429){
                            timerTime = data.tileLeft;
                            err += '<p>Try after <span id="timermin">'+pad(Math.floor(timerTime / 60))+'</span> Min & <span id="timersec">'+pad(timerTime % 60)+'</span> Sec</p>';
                            minutes = "#timermin";
                            seconds = "#timersec";
                            start(minutes,seconds);
                        }
                        if(data.code === 403){
                            btnext = "Force Login";
                            ttl= "Logged In."
                            modalBtn = false;
                        }
                        $.confirm({
                            title: ttl,
                            draggable: false,
                            content: err,
                            // theme: 'dark',
                            // autoClose: 'forceLogin|10000',
                            type: 'red',
                            typeAnimated: true,
                            icon: 'fas fa-info-circle',
                            buttons: {
                                tryAgain: {
                                    isHidden: !modalBtn,
                                    text: "Try Again",
                                    btnClass: 'btn-red',
                                    action: function(){
                                        stop();
                                    }
                                },
                                forceLogin: {
                                    text: "Force Login",
                                    isHidden: modalBtn,
                                    btnClass: 'btn-red',
                                    action: function(){
                                        axios.post(formurl, formdata+"&force_login=true").then(function (response) {
                                            window.location = response.data.redirect;
                                        })
                                    }
                                },
                                close: function () {
                                    stop();
                                }
                            }
                        });
                        
                    }
                
                },
                error: function (jqXHR, exception) {
                    $(e).find("[type='submit']").html("Login");
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseJSON.message;
                    }
                    Swal.fire("", msg, "error").then((result) => {
                        window.location.reload();
                    });
                }
            });
    
            return false;
        });
    
    });

setTimeout(() => {   
location.reload();
}, 15*60*1000);  


</script>
<style>.jconfirm .jconfirm-box div.jconfirm-title-c{display: flex}</style>
{{ end }}