{{ define "layouts/footer.html" }}
</main>    
</div>

<script src="assets/libs/jquery/jquery.min.js?v=1.0"></script>
<script src="assets/libs/bootstrap/bootstrap.min.js?v=1.0"></script>
<script src="assets/libs/metismenu/metismenu.min.js?v=1.0"></script>
<script src="assets/libs/simplebar/simplebar.min.js?v=1.0"></script>
<script src="assets/libs/node-waves/node-waves.min.js?v=1.0"></script>
<script src="assets/libs/feather-icons/feather-icons.min.js?v=1.0"></script>
<script src="assets/libs/select2/select2.min.js?v=1.0"></script>
<script src="assets/libs/momentjs/moment.min.js?v=1.0"></script>

<script src="assets/libs/pace-js/pace-js.min.js?v=1.0"></script>
<script src="assets/js/common-script.js?v=1.0"></script>
<script src="assets/libs/datatables/datatables.min.js?v=1.0"></script>



<script src="assets/libs/datatables/buttons.server-side.js?v=1.0"></script>
<script src="assets/libs/jszip/jszip.min.js?v=1.0"></script>
<script src="assets/libs/pdfmake/pdfmake.min.js?v=1.0"></script>



<script src="assets/libs/choices.js/choices.js.min.js?v=1.0"></script>
<script src="assets/libs/axios/axios.min.js?v=1.0"></script>
<script src="assets/libs/sweetalert2/sweetalert2.min.js?v=1.0"></script>
<script src="assets/js/jquery-confirm.min.js?v=1.0"></script>
<script src="assets/libs/pristinejs/pristinejs.min.js?v=1.0"></script>
<script src="assets/js/pages/validation.init.js?v=1.0"></script>
<script src="assets/js/app.min.js?v=1.0"></script>
</body>
</html>
{{ end }}
